.button{
	margin: 0;
	font-weight: 400;
	border: 0;
    border-radius: 7px;
    color: #FFFFFF;
    background: #0070f3;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    padding: 0 2rem;
	font-size: 1.2rem;
    height: 2.5rem;
    line-height: 2.5rem;
	display: inline-block;
    cursor: pointer;
	-webkit-transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
	-webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.button:hover,
.button:focus {
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}